body {
    background-color:$pagebackground;
}
*{
    margin: 0;
    padding: 0;
}
@mixin butset {
    background-color:$buttoncolor;
    color:white;
    font-weight: 700;
    width: 163px;
    height: 5vh;
    border:hidden;
    border-color: $buttoncolor;
    border-radius: 3px;
}
.header {
    background-image: $headerimage;
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom-right-radius: 800px 500px;
.landing-logo{
@extend %log;
}
.header_heading {
    font-family: $font1;
    font-weight: 700;
    font-size: 70px;
    color: $headertextcolor;
    padding-left: 200px;
    text-align: left;
    width: 30%;
    line-height: 1em;
    position: relative;
    z-index: 1;
}
.header_heading::after {
    display: block;
    content: '';
    width: 295px;
    height: 20px;
    background: $underlinecolor;
    position: relative;
    z-index: -1;
    bottom:23px;
    }
.header_text {
    font-family: $font1;
    font-weight: normal;
    color: $headertextcolor;
    text-align: left;
    padding-left: 200px;
    white-space: pre-line;
    letter-spacing: 2px;
    line-height: 2em;
}
.header_button {
        @include butset(); 
        margin-left: 200px;
        margin-top: 55px;
    }
}
%log {
    display:flex;
    flex-direction: row;
    align-items: center;
    img {
    padding-left: 195px;
    padding-top: 45px;
    }
    p {
        display:flex;
        flex-direction: column;
        align-items: center;
        font-family: $headerandfooterfont;
        font-weight: 700;
        font-size: 30px;
        color: $headertextcolor;
        margin-left: 15px;
        margin-top: 65px;
        line-height: 1.5rem;
        letter-spacing: $logoletspace;
    }
    span {
        font-size: 11px;
}
}
@mixin sectext {
    font-family: $font1;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.section_text {
    @include sectext(); 
    position: relative;
    z-index: 1;
    color:$secheadtext;
    margin: 8px;
    padding: 8px; 
}
.section_text::after {
    display: block;
    content: '';
    width: 133px;
    height: 10px;
    background: $underlinecolor;
    position: relative;
    z-index: -1;
    left:950px;
    bottom: 13px;
}
.section_card_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .section_card {
        background-color: map-get($cardset,"c_color");
        border-color: map-get($cardset,"c_border_color");
        width: map-get($cardset,"c_width");
        margin-left: map-get($cardset,"c_margin");
        border: map-get($cardset,"c_border");
        border-radius: map-get($cardset,"c_border_rad");
        .section_card_img {
            margin-top: 13px;
            margin-left: 11px;
            width: 92%;
            border-radius: 7px;
        }
        .section_card_heading {
            text-align: center;
            font-family: $font1;
            font-weight: 700;
            color: #FAFBFC;
            position: relative;
            z-index: 1;
        }
        .section_card_underline {
            display: block;
            content: '';
            width: 133px;
            height: 10px;
            background: $underlinecolor;
            position: relative;
            z-index: -1;
            left:75px;
            bottom: 8px;
        }
        .section_card_text {
            text-align: center;
            color: grey;
            font-family: $font1;
            font-size: 12px;
            margin-left: 11px;
            margin-right: 11px;
        }
    }
    .section_card:nth-child(2) {
        .section_card_underline {
            width: 105px;
            left:89px;
        }
    }
    .section_card:nth-child(3) {
        .section_card_underline {
            width: 82px;
            left:100px;
        }
    }
    .section_card:nth-child(1) {
        margin-left: 0px;
    }
    .section_banner {
        position: absolute;
        z-index: -1;
        background:$bannergradient;
        width: 40%;
        margin-left: 545px;
        margin-top: 150px;
        border-radius: 5px;
    
    .section_banner_text_wrap {
        text-align: left;
        margin-left: 100px;
        margin-bottom: 40px;
        height: 1vh;
        .section_banner_heading {
            font-family: $font1;
            font-size: 20px;
            font-weight: 700;
            color:$secheadtext;
            margin-top: 30px;
        }
        .section_banner_heading::after {
            display: block;
        content: '';
        width: 43px;
        height: 10px;
        background: $underlinecolor;
        position: relative;
        z-index: -1;
        left: 80px;
        bottom: 12px;
        }
        .section_banner_text {
            font-family: $font1;
            font-size: 12px;
            font-weight: 500;
            color:#B1BCAB;
            margin-top:20px;
        } 
    }
    .section_banner_button {
        @include butset(); 
        margin-left: 500px;
        margin-bottom: 30px;
    }
}
    .footer {
        background-color: $footerbackground;
        position: relative;
        z-index: -2;
        margin-top: 240px;
    .footer-wrap {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    
    .footer_logo.landing-logo {
        @extend %log;
        p {
            color: #BCC3CE;
        }
    }
    .footer_text {
        text-align: left;
        padding-top: 28px;
        white-space: pre-line;
        width:14%;
        padding-right: 150px;
        color: #BCC3CE;
        font-size: 13px;
    }
    .footer-cr {
        width: 14%;
        padding-top: 70px;
        color: #BCC3CE;
        font-size: 13px;
    }

    }
}